@media (max-width: 600px) {
  .mycarousel {
   width: 500px;

  }
  #infoadmin{
    display: block;
  }
  .showmore{
    display: flex;
    justify-content: center;
    margin-left:34% ;
  }
  .showmore1{
    display: flex;
    justify-content: center;
    margin-left:3% ;
  }

  #mycard{
    margin-bottom: 61px;
     display: flex;
      flex-wrap: wrap;
      justify-content: space-between
  }
  #search{
    width: 200px !important;
  }
  
}
@media (min-width: 900px) {
 
  #search{
    width: 350px !important;
  }
  #allsearch{
    margin-right: 115px !important;
  }
  #productinfo{
    margin-bottom: 300px;

  }
}
.mycarousel{
  width: 1200px;

}
@media (min-width:600px) {
  .mynavbar{
    justify-content: space-between;
  }
  .allcards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  
}
#productinfo{
  margin-bottom: 80px;
  margin-top: 10px;

}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}
.carousel-control-next-icon {
  background: black ;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  /* margin-left: 14px; */
}
.carousel-control-prev-icon{
  background: black ;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E")

}
.allcards{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background:none;
  color: black;
  border: none;
  cursor: pointer;
  font-size:17px
  
}

.dropdown-arrow {
  margin-left: -6px;
    font-size: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nested-dropdown {
  position: relative;
  display: inline-block;
}

.nested-dropdown .dropdown-content {
  left: 100%;
  top: 0;
  min-width: 160px;
}
#texttt{
  text-decoration: underline;
}
#tropdown {
  margin-top: -4px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.total-row {
  font-weight: bold;
}
