@media (max-width: 600px) {
  .mycarousel {
   width: 500px;
  }
  #mycard{
    margin-bottom: 61px;
     display: flex;
      flex-wrap: wrap;
      justify-content: space-between
  }
  #search{
    width: 200px !important;
  }
  
}
@media (min-width: 900px) {
 
  #search{
    width: 350px !important;
  }
  #allsearch{
    margin-right: 115px !important;
  }
  #productinfo{
    margin-bottom: 300px;

  }
}
.mycarousel{
  width: 1200px;

}
@media (min-width:600px) {
  .mynavbar{
    justify-content: space-between;
  }
  .allcards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  .showmore{
    display: flex;
    justify-content: center;
  }
}
#productinfo{
  margin-bottom: 80px;
  margin-top: 10px;

}