body, html {
    height: 100%;
  }
  .wrapper {
    /* background-image: url("./bg.jpg"); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }